# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code settings
.vscode/

# Environment variables
.env

# API keys (just in case)
*.key
secrets.py

# contains api key
start_server.bat

# google calendar client secret
credentials.json